 .main {
   height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
 }

 .form-container {
   background-color: rgb(74, 64, 64);
   padding: 20px;
   border-radius: 10px;
   width: 800px;
 }

 h1 {
   color: rgb(237, 99, 68);
   ;
 }

 .form-group {
   margin-bottom: 15px;
   text-align: left;
 }

 label {
   display: block;
   margin-bottom: 5px;
   font-weight: bold;
   color: rgb(237, 99, 68);

 }

 p {
   font-weight: bold;
   color: rgb(237, 99, 68);
   margin-bottom: 40px;
 }

 input[type="text"],
 input[type="number"],
 select {
   width: 98%;
   padding: 10px;
   margin-bottom: 10px;
   border: 1px solid #ccc;
 }

 input[type="submit"] {
   background-color: gray;
   color: white;
   padding: 10px 20px;
   border: none;
   border-radius: 5px;
   cursor: pointer;
 }

 input[type="submit"]:hover {
   background-color: orange;
 }