/* .modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background: #ffffff;
  border-radius: 8px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
  text-align: center;
  padding: 30px;
  max-width: 400px;
  width: 90%;
}

.modal-content p.success-message {
  color: #1abc9c;
  font-size: 24px;
  font-weight: bold;
  margin: 0;
  padding: 20px 0;
}

.modal-content p.error-message {
  color: #e74c3c;
  font-size: 24px;
  font-weight: bold;
  margin: 0;
  padding: 20px 0;
}


.modal-content button {
  background: #3498db;
  color: white;
  border: none;
  padding: 15px 30px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 20px;
  margin-top: 30px;
  transition: background 0.3s ease-in-out;
}


.modal-content button:hover {
  background: #2980b9;
} */